<header>
  <div class="header-main">
    <div></div>
    <h1>{{QUERY}} Gifs</h1>
    <button (click)="toggleSubHeader()" class="hamburgerBtn" title="Show Settings"><i class="fas fa-hamburger"></i></button>
  </div>
  <div class="header-sub" [hidden]="!shouldShowSubHeader">
    <div class="search-bar">
      <input id="search">
      <button (click)="changeSearchQuery()" class="searchBtn"><i class="fas fa-search" title="Search"></i></button>
    </div>
  </div>
</header>
<div class="gifs-container">
  <div class="gif-container" *ngFor="let gif of gifs">
    <img src="{{gif.images.fixed_height.url}}" alt="{{gif.title}}">
    <a href="{{gif.url}}" target="_blank" rel="noreferrer" title="View '{{gif.title}}'"><i class="fas fa-external-link-alt"></i></a>
  </div>
</div>